nav {
    text-align: left;
    color: whitesmoke;
    font-size: 50;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: slategray;
    width: 250px;


}




body {
    color: whitesmoke;
    text-align: center;
    font-family: serif;
    background-color: lightslategray;
    background-image: url(".png");
    background-size: 100%;

}

div {

    word-spacing: normal;
    word-wrap: normal;
    margin: 50px;
}

header {}

main {}

footer {}

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 300%;
}

h2 {
    color: whitesmoke;
    text-align: center;
    background-color: gray;
    margin: 1em;
}

h3 {

    font-size: 200%;
}


img {
    width: 300px;
    height: auto;
}

#thoughts {
    padding-bottom: 50px
}

#titlepic {

    width: 500px;
    height: auto;

}

table {}
